 <h1 class="titre">{{ $ctrl.titre }}</h1>
 <md-button ng-click="afficherData()"> Clik</md-button>

	<h2>Gestion des infirmiers</h2>
  <section layout="row" flex>

				 <md-sidenav
			        class="md-sidenav-left"
			        md-component-id="left"
			        md-is-locked-open="$mdMedia('gt-md')"
			        md-disable-backdrop
			        md-whiteframe="4">
			        <md-toolbar>
      				  <h1 class="md-toolbar-tools"> Liste des infimiers </h1>
      					</md-toolbar>

						<div ng-repeat="inf in $ctrl.data.objectInfirmiers">
							<infirmier ng-click="$ctrl.afficherPatient(inf)" data="inf"> </infirmier>
						</div>

				</md-sidenav>

				<md-content flex layout-padding>


						<div ng-repeat="patient in $ctrl.patientsCourant">
								<patient data="patient"> </patient>

						</div>
				</md-content>


</section>

<section>
     <md-button class="md-raised md-primary" ng-click="$ctrl.afficherFormulaire()">Ajouter un patient</md-button>
		<div ng-show="$ctrl.formulairePatient == true">
			<form-patient> </form-patient>
		</div>
</section>